# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Local LESAH data
.lesah_toolkit/
reports/
trivy_logs/

# Environment / secrets
.env
.env.*
*.pem
*.key
*.crt

# OS
.DS_Store
Thumbs.db
